{% extends "client/base.html" %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">User Profile Verification</h2>
            <p id='email'></p>
            <div id="verificationSection">
                <button type="button" class="btn btn-primary" onclick="sendVerificationEmail()">Send Verification Email</button>
                <div class="mt-3">
                    <label for="verificationCode">Enter Verification Code:</label>
                    <input type="text" class="form-control" id="verificationCode" placeholder="Enter code">
                    <button type="button" class="btn btn-success mt-2" onclick="verifyEmail()">Verify Email</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    fetch('/api/profiles/', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Token ' + localStorage.getItem('jwtToken'),
        },
    })
    .then(response => response.json())
    .then(data => {
        console.log(data.user.is_verificated)
        if (data.user.email_verificated){
            window.location.href = "/";
        }
        document.getElementById('email').value = data.user.email;
        console.log(data.user.email)
    })
    .catch(error => console.error('Error fetching cat data:', error));
    function sendVerificationEmail() {

        var email = document.getElementById('email').value;

        fetch(`${window.location.origin}/api/user/email/`, {
            method: 'POST',
            headers: {
                'Authorization': 'Token ' + localStorage.getItem('jwtToken'),
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({email:email}),
        })
        .then(response => {
            if (response.ok) {
                alert('Verification email sent!');
            } else {
                alert('Failed to send verification email.');
            }
        })
        .catch(error => {
            console.error('Error during email verification:', error);
        });
    }

    function verifyEmail() {
        var verificationCode = document.getElementById('verificationCode').value;
        var email = document.getElementById('email').value;

        fetch(`${window.location.origin}/api/user/email/`, {
            method: 'PUT',
            headers: {
                'Authorization': 'Token ' + localStorage.getItem('jwtToken'),
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ verification_code: verificationCode, email: email }),
        })
        .then(response => {
            if (response.ok) {
                alert('Email verified successfully!');
                window.location.href = "/profile";
            } else {
                alert('Failed to verify email.');
            }
        })
        .catch(error => {
            console.error('Error during email verification:', error);
        });
    }
</script>

{% endblock body %}
